.vim
__pycache__
_build
.build
build/
dask-worker-space/
dist/
docs/reference/generated/
archive
a.out
*.f
*~
*.pyc
.DS_Store
restats
nuSpaceSim.egg-info/
*.egg-info/
*.egg-info
.eggs
eggs
*.so
*.so*
*.dylib
*.whl
.python-version
_version.py
.tox
*.ipynb
